<div class="container">
<h3>ABOUT</h3>

  <div>
    <h4>Meet The ScribeLytics Team</h4>
      <figure>
        <img src="http://wp.streetwise.co/wp-content/uploads//2014/10/shutterstock_144845914.jpg" class="about-photo" alt="DecodeMTL project team">
        <figcaption>Caption for chicken.</figcaption>
      </figure>
  </div>

  <div>
    <p>ScribeLytics was created over a period of 10 days for our group's final project as part of DecodeMTL programming bootcamp.</p>
    <p>ScribeLytics is built on top of the IBM Watson API with MongoDB, NodeJS, and Bootstrap.</p>
  </div>

  <div>
    <img src="/images/brendan.jpeg" class="profile-photo" alt="Brendan Metcalfe">
    <img src="/images/dennis.jpeg" class="profile-photo" alt="Dennis Tsang">
    <img src="/images/jared.jpeg" class="profile-photo" alt="Jared Carbonneau">
    <img src="/images/harris.jpeg" class="profile-photo" alt="Harris Robin">
  </div>

</div>
