<div class="container">
  <div class="center">
  <h3>ABOUT</h3>

    <div class="about-photo-div">
        <figure>
          <img src="http://wp.streetwise.co/wp-content/uploads//2014/10/shutterstock_144845914.jpg" class="about-photo" alt="DecodeMTL project team">
          <figcaption>Caption for chicken.</figcaption>
        </figure>
    </div>

    <div class="about-story">
      <p>ScribeLytics was created over a period of 10 days for our group's final project as part of DecodeMTL programming bootcamp.</p>
      <p>ScribeLytics is built on top of the IBM Watson API with MongoDB, NodeJS, and Bootstrap.</p>
    </div>

    <hr>

    <div class="col-xs-12 profile-feature">
      <div class="col-lg-3 col-md-4 profile-column">
        <img src="/images/brendan.jpeg" class="profile-photo" alt="Brendan Metcalfe">
        <p class="text-center">Brendan Metcalfe</p>
        <p class="text-justify">I grew up in Toronto, moved to Boston for college, and now live and
  work in Montreal. I am a Canadian/American dual citizen and I hold a
  B.Sc in Business Administration from Babson College. In my spare time
  I enjoy playing sports, reading, and improving my French.</p>
      </div>
      <div class="col-lg-3 profile-column">
        <img src="/images/dennis.jpeg" class="profile-photo" alt="Dennis Tsang">
        <p class="text-center">Dennis Tsang</p>
        <p class="text-justify">As a person who constantly searches for new knowledge and
  experiences, my main interest encompasses art, technology and sports.
  As an avid social dancer, PC gamer and volleyball player, I have always
  find joy in the journeys by achieving my best. Along the journey, I have
  become resourceful and autonomous while cooperating with people of
  all walks of life on the dance floor, online and on the courts. I am
  looking forward to my journey into programming! </p>
      </div>
      <div class="col-lg-3 profile-column">
        <img src="/images/jared.jpeg" class="profile-photo" alt="Jared Carbonneau">
        <p class="text-center">Jared Carbonneau</p>
        <p class="text-justify">I have a house in the suburbs, a wife and pets. I speak 4 languages after
  living overseas for over 7 years. When I'm not coding, I can be found
  renovating my house, tinkering with my reef aquarium, researching my
  latest DIY project, doing volunteer work or taking care of my pets. </p>
      </div>
      <div class="col-lg-3 profile-column">
        <img src="/images/harris.jpeg" class="profile-photo" alt="Harris Robin">
        <p class="text-center">Harris Robin</p>
        <p class="text-justify">DecodeMTL TA and founder of Montreal's largest reactJS community.
          Well traveled, constantly learning and passionate about the web and technology.
          Collaborated with companies such as Real Ventures and Crew.
          I believe that good front-end development is the art of providing stellar user experience on the
          client side despite how bad things might be on the server.</p>
      </div>
    </div>

  </div>
</div>
