<div class="container">

 <h2>{{meeting.name}}</h2>   <!-- needs to dynamically change based on meeting name -->

 <!-- needs an if statement and creates if users if theyre in the page/session -->
  <div class = "userProfile">
    <div class = "userAvatar">
      {{user.avatar}} <!-- needs to dynamically change based on user -->
      <!-- background needs a default and to dynamically change based on sentiment -->
    </div>
    <div class="userText" style="height:120px; width:120px; border:1px solid #ccc; font:16px/26px Serif; overflow:scroll;">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
   
</div>
