<div class="container">
<h3>MEETING</h3>

  <form method="POST">
    <ul>
      {{#each items}}
        <li>{{meetings meeting}}</li>
        {{/each}}
    </ul>


   <label for="email">Email</label>
   <input type="email" name="email" id="email" placeholder="Email" autofocus>
   <label for="password">Password</label>
   <input type="password" name="password" id="password" placeholder="Password">
   <p><a href="/forgot">Forgot your password?</a></p>
   <button type="submit">Log in</button>
 </form>

</div>
