<div class="container">
 <h2>Find or create your meeting.</h2>

 <h4>Create your meeting.</h4>
   <form action="/meeting" method="POST">
    <label for="meetingName">Meeting Name</label>
    <input type="meetingName" name="meetingName" id="meetingName" placeholder="Call with CEO" autofocus>
    <button type="submit" onClick="placeOrder()">Create</button>
  </form>

 <h4>Find your meeting.</h4>
    {{{printMeetings meetings}}}
  
</div>
</div>
<script>

</script>
