<div class="container">
  <div class="center">
    {{#if messages.error}}
      <div class="text-danger">
        {{#each messages.error}}
          <div>{{msg}}</div>
        {{/each}}
      </div>
    {{/if}}
    <h3>CREATE AN ACCOUNT</h3>

    <div class="profile-form">
       <form method="POST">
         <label for="email">Email</label>
         <input type="email" name="email" id="email" placeholder="Email" autofocus>
         <label for="name">Name</label>
         <input type="text" name="name" id="name" placeholder="Name">
         <label for="password">Password</label>
         <input type="password" name="password" id="password" placeholder="Password">
         <button type="submit">Create an account</button>
       </form>
    </div>

  <hr>

  <p>Already have an account? <a href="/login">Log in</a></p>

 </div>
</div>
