<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ct" content="<%= ct %>">
    <title>Speech to Text</title>
    <link href="../css/watson-bootstrap-style.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" />
  </head>
  <body>
    <!-- top nav section -->
    {{> nav}}
    {{{body}}}

      <!-- Place js files at the end of the document, with fallbacks for CDNs -->
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="../js/index.js"></script>

      <script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io();
        </script>


  </body>
</html>
