<!-- Service Description Bar -->
<div class="jumbotron custom-jumbotron">
  <div class="custom-container-jumbotron">
      <h1>ScribeLytics</h1>
      <p>We harness the power of IBM Watson to make your meetings more fun, productive, and insightful.</p>
  </div>
</div>

<!-- Features Section-->
<div class="container front-style">
  <div class="row">
    <div class="col-md-4">
      <h3>Hold Meetings</h3>
      <p>Create or join live meetings.</p>
      <p><i class="fa fa-phone fa-3x" aria-hidden="true"></i></p>
    </div>
    <div class="col-md-4">
      <h3>Transcribe Text</h3>
      <p>We turn your speech into text.</p>
      <p><i class="fa fa-microphone fa-3x" aria-hidden="true"></i></p>
    </div>
    <div class="col-md-4">
      <h3>Get Text Analysis</h3>
      <p>You get detailed sentiment analysis.</p>
      <p><i class="fa fa-paper-plane-o fa-3x" aria-hidden="true"></i></p>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>Demo Below - Turn Speech to Text</h2>
    </div>
  </div>
</div>

<div>
  {{> meetingbox}}
</div>
